.q-table th {
  font-size: 1em;
  font-weight: bold !important;
}

#invoicePage .clear {
  margin-bottom: 25px;
}

@media print {
  * {
    color: black !important;
  }

  header,
  button,
  #payButtonContainer {
    display: none !important;
  }

  main,
  .q-page-container {
    padding-top: 0px !important;
  }

  .q-card {
    box-shadow: none !important;
    border: 1px solid black !important;
  }

  .q-item {
    padding: 5px;
  }

  .q-card__section {
    padding: 5px;
  }

  p {
    margin-bottom: 0px !important;
  }

  #invoicePage .clear {
    margin-bottom: 10px !important;
  }
}
