{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="formDialog.show = true">
          New Invoice
        </q-btn>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Invoices</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          flat
          :rows="invoices"
          row-key="id"
          :columns="invoicesTable.columns"
          v-model.pagination="invoicesTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="sm"
                  icon="edit"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="showEditModal(props.row)"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="sm"
                  icon="launch"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="'pay/' + props.row.id"
                  target="_blank"
                ></q-btn>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  size="sm"
                  @click="deleteInvoice(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Invoices extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>{% include "invoices/_api_docs.html" %}</q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveInvoice" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        ></q-select>
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.currency"
          :options="currencyOptions"
          label="Currency *"
        ></q-select>
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.status"
          :options="['draft', 'open', 'paid', 'canceled']"
          label="Status *"
        ></q-select>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.company_name"
          label="Company Name"
          placeholder="LNbits Labs"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.first_name"
          label="First Name"
          placeholder="Satoshi"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.last_name"
          label="Last Name"
          placeholder="Nakamoto"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.email"
          label="Email"
          placeholder="satoshi@gmail.com"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.phone"
          label="Phone"
          placeholder="+81 (012)-345-6789"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.address"
          label="Address"
          placeholder="1600 Pennsylvania Ave."
          type="textarea"
        ></q-input>

        <q-list bordered separator>
          <q-item
            clickable
            v-ripple
            v-for="(item, index) in formDialog.invoiceItems"
            :key="index"
          >
            <q-item-section>
              <q-input
                filled
                dense
                label="Item"
                placeholder="Jelly Beans"
                v-model="formDialog.invoiceItems[index].description"
              ></q-input>
            </q-item-section>
            <q-item-section>
              <q-input
                filled
                dense
                label="Amount"
                placeholder="4.20"
                v-model="formDialog.invoiceItems[index].amount"
              ></q-input>
            </q-item-section>
            <q-item-section side>
              <q-btn
                unelevated
                dense
                size="xs"
                icon="delete"
                :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                @click="formDialog.invoiceItems.splice(index, 1)"
              ></q-btn>
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple>
            <q-btn flat icon="add" @click="formDialog.invoiceItems.push({})">
              Add Line Item
            </q-btn>
          </q-item>
        </q-list>

        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="formDialog.data.wallet == null || formDialog.data.currency == null"
            type="submit"
            :label="formDialog.data.id ? 'Update Invoice' : 'Create Invoice'"
          ></q-btn>
          <q-btn v-close-popup flat color="grey" class="q-ml-auto">
            Cancel
          </q-btn>
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('invoices/static', path='js/index.js') }}"></script>
{% endblock %}
